
// Fonts
// acumin-pro is loaded via typekit - fontwesights 400 500 and 600 are available

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Plugins
@import 'partials/flickity';

// Partials
@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/embedresponsively';
@import 'partials/project-slider';
@import 'partials/project-card';

input[type="file"]{
  display: block;
}

h2{
  font-size:26px;
  font-weight:600;
}

hr{
  width:100%;
    background-color: #D8D8D8;
    height: 1px;
  border:none;
  margin:15px 0px;
}

.bg-grey-lightest{
  background-color: $gray-lightest;
}

.card{
  .card-title{
    a{
      color: #12263b;
    }
  }
  .author{
    font-size:18px;
    color: #888;
  }
}

#app{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container{
  flex: 1;
}

.banner-navbar-container{
  background-color:#333;
  height:875px;
  background-image:url('/img/banner-a.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
}

.banner-container{
  padding-top:176px;
  h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
  }
  p{
    color: rgba(255, 255, 255, 0.75);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
}

.btn-circle{
  text-decoration:none;
  display:flex;
  text-align:center;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  justify-content: center !important;
  &:hover{
    background-color: rgba(0,0,0,0.2);
  }
  span{
    padding-top:3px;
    padding-left:3px;
    align-self: center;
    display: block;
    width: 19px;
    height: 25px;
  }
}