// Fonts
// acumin-pro is loaded via typekit - font weights 400 500 and 600 are available

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Plugins
@import 'partials/flickity';

// Partials
@import 'partials/navbar';
@import 'partials/banner';
@import 'partials/contact';
@import 'partials/footer';
@import 'partials/buttons';
@import 'partials/embedresponsively';
@import 'partials/project-slider';
@import 'partials/project-card';

.help-block{
  font-size:11px;
}

img{
  max-width:100%;
}

input[type="file"]{
  display: block;
}

h2{
  font-size:26px;
  font-weight:600;
}

hr{
  width:100%;
    background-color: #D8D8D8;
    height: 1px;
  border:none;
  margin:15px 0px;
}

.container-inner{
  padding-left:15px;
  padding-right:15px;
  @media (min-width: 768px) {
    padding-left:76px;
    padding-right:76px;
  }
}

.bg-grey-lightest{
  background-color: $gray-lightest;
}

.text-grey{
  color: #999999;
}

.card{
  .card-title{
    a{
      color: #12263b;
    }
  }
  .author{
    font-size:18px;
    color: #888;
  }
}

#app{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container{
  flex: 1;
}

.icon-brand{
  svg{
    fill:$blue;
    *{
      fill:$blue;
    }
  }
}