.footer{
  background-color: #FFFFFF;
  border: 1px solid #D6D6D6;
  color: #666666;
  font-size:16px;
  .footer-inner{
    height: 85px;
  }
  a{
    color:#666666;
  }
  .logo{
    display: block;
    height:35px;
    svg{
      height:35px;
    }
  }
  .icon-grey{
    svg{
      fill: #666666;
      path{
        fill: #666666;
      }
    }
  }
}