.nano-card.image-mask {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
}

.nano-card:hover .card-title a {
  color: $blue;
}

.nano-card {
  .image-mask-visible {
    height: 400px !important;
    visibility: visible;
    display: block;
  }

  .card-body {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.5);
  }
}